<!-- Часто задаваемые вопросы -->

<section class="faq">
    <div class="contener">
        <h2 class="main-headline">Поширені запитання</h2>
        <div class="box">
            <div class="faq__conteiner">
                <div class="faq__questions">
                    <p>Який період виготовлення</p>
                </div>
                <div class="js-arrow"></div>
                <div class="faq__answer">
                    <p>Період виготовлення залежить від складності замовлення, зазвичай від неділі до місяця</p>
                </div>
            </div>
            <div class="faq__conteiner">
                <div class="faq__questions">
                    <p>Які способи оплати ви приймаєте?</p>
                </div>
                <div class="faq__answer">
                    <p>Ми приймаємо різні способи оплати, включаючи готівку, банківські перекази.</p>
                </div>
            </div>
            <div class="faq__conteiner">
                <div class="faq__questions">
                    <p>Які гарантії надаються на штори?</p>
                </div>
                <div class="js-arrow"></div>
                <div class="faq__answer">
                    <p>Ми надаємо гарантію на якості і роботу. Також готові вирішити проблеми після встановлення, якщо вони виникнуть.</p>
                </div>
            </div>
            <div class="faq__conteiner">
                <div class="faq__questions">
                    <p>Чи можна замовити індивідуальний дизайн штор?</p>
                </div>
                <div class="js-arrow"></div>

                <div class="faq__answer">
                    <p>Так, ми пропонуємо індивідуальний дизайн, який відповідає вашим унікальним побажанням та стилю вашого інтер'єру.</p>
                </div>
            </div>
            <div class="faq__conteiner">
                <div class="faq__questions">
                    <p>Яку тканину вибрати для штор?</p>
                </div>
                <div class="js-arrow"></div>

                <div class="faq__answer">
                    <p>Все залежить від стилістичного оформлення, призначення кімнати та особистих уподобань.</p>
                    <ul>
                        <ol>Жаккард відомий довговічністю, красою та простотою. Він може бути натуральним, синтетичним чи комбінованим.</ol>
                        <ol>Оксамит – дорого й стильно. Пам'ятайте, що догляд за ним особливий. </ol>
                        <ol>Льон – натуральність та безпека для алергіків.</ol>
                        <ol>Блекаут – тканина, яка одночасно складається із 3-х шарів.</ol>
                    </ul>
                    <p>Це найпопулярніші матеріли, які використовуються. Детальну інформацію про матеріали можно отримати у нас</p>
                </div>
            </div>
        </div>
    </div>
</section>