<!-- Этапы заказа: от заказа до готового результата -->

<section class="order-stages">
    <div class="contener">
        <ul class="order-stages__list">
            <li class="order-stages__items">
                <div>
                    <svg></svg>
                </div>
                <h3 class="secondary-headline">Консультація та виміри</h3>
            </li>
            <li class="order-stages__items">
                <div></div>
                <h3 class="secondary-headline">Підбір матеріалів</h3>
            </li>
            <li class="order-stages__items">
                <div></div>
                <h3 class="secondary-headline">Індивідуальний дизайн</h3>
            </li>
            <li class="order-stages__items">
                <div></div>
                <h3 class="secondary-headline">Пошиття штор</h3>
            </li>
            <li class="order-stages__items">
                <div></div>
                <h3 class="secondary-headline">Контроль якості</h3>
            </li>
            <li class="order-stages__items">
                <div></div>
                <h3 class="secondary-headline">Встановлення</h3>
            </li>
            <li class="order-stages__items">
                <div></div>
                <h3 class="secondary-headline">Післяпродажна підтримка</h3>
            </li>
        </ul>
    </div>
</section>