<div class="contener">
    <div class="footer-address">
        <address>
            <ul class="footer-address__list">
              <li class="footer-address__item">
                <a
                  class="footer-address__map"
                  href="https://goo.gl/maps/CPtrU1FHBa2aNyZL9"
                  target="_blank"
                  rel="noopener noreferrer nofollow"
                  >м. Київ, пр-т Лесі Українки, 26</a
                >
              </li>
              <li class="footer-address__item">
                <a
                  class="footer-address__contact"
                  href="mailto:info@devstudio.com"
                  >info@devstudio.com</a
                >
              </li>
              <li class="footer-address__item">
                <a class="footer-address__contact" href="tel:+380961111111"
                  >+38 096 111 11 11</a
                >
              </li>
            </ul>
          </address>
    </div>
    <div class="footer-sosial footer-sosial__contener">
        <h3 class="footer-headline">приєднуйтесь</h3>
        <ul class="footer-sosial__list">
          <li class="footer-sosial__item">
            <a href="#" class="footer-sosial__links">
              <svg width="20" height="20">
                <use href="#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer-sosial__item">
            <a href="#" class="footer-sosial__links">
              <svg width="20" height="20">
                <use href="#icon-twitter"></use>
              </svg>
            </a>
          </li>
          <li class="footer-sosial__item">
            <a href="#" class="footer-sosial__links">
              <svg width="20" height="20">
                <use href="#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer-sosial__item">
            <a href="#" class="footer-sosial__links">
              <svg width="20" height="20">
                <use href="#icon-linkedin"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
</div>