<div class="contener">
    <div class="header__contener">
        <div class="logo"></div>
        <nav class="header__nav">
            <ul class="header__menu">
                <li class="menu__items"><a class="header__links" href="#">Home</a></li>
                <li class="menu__items"><a class="header__links" href="#">Шторы</a></li>
                <li class="menu__items"><a class="header__links" href="#">Portfolio</a></li>
                <li class="menu__items"><a class="header__links" href="#">About</a></li>
                <li class="menu__items"><a class="header__links" href="#">Cost</a></li>
                <li class="menu__items"><a class="header__links" href="#">Contacts</a></li>

            </ul>
        </nav>
        <div class="language">
            <span><a href="#">ua & ru</a></span>
        </div>
        <div class="basket"></div>
     </div>
</div>